body{
margin: 0;
padding: 0;
background: url(https://image.freepik.com/foto-gratis/purpura-violeta-rosa-degradado-color-abstracto-backgroud_27109-373.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}