body{
margin: 0;
padding: 0;
background: url(https://thumbs.dreamstime.com/t/fondo-de-degradado-digital-azul-morado-rosa-banner-horizontal-elegante-y-colorido-desenfocado-papel-estilo-moderno-brillante-fluid-179941928.jpg);
background-size:cover;
background-position:center;
font-family:sans-serif;
}