body{
margin: 0;
padding: 0;
background: url(https://ak.picdn.net/shutterstock/videos/1038827402/thumb/1.jpg?ip=x480);
background-size:cover;
background-position:center;
font-family:sans-serif;
}